---
import MainLayout from "@layouts/MainLayout.astro";
import LinkButton from "@components/LinkButton.astro";
---
<MainLayout title="Page not found — 404">
  <section class="space-y-4 text-center py-20">
    <h1 class="text-5xl font-extrabold">404</h1>
    <p class="text-lg">The requested page could not be found.</p>
    <LinkButton href={import.meta.env.BASE_URL} text="Go back home" />
  </section>
</MainLayout>
