---
import MainLayout from "@layouts/MainLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const sup_pages = await getCollection("sup_pages");
  return sup_pages.map((entry) => ({ params: { sup_page: entry.slug } }));
}

const { sup_page } = Astro.params;
const sup_pages = await getCollection("sup_pages");
const entry = sup_pages.find((p) => p.slug === sup_page);

if (!entry) {
  return Astro.redirect("/part-1");
}

import H1 from '@components/mdx/H1.astro';
import H2 from '@components/mdx/H2.astro';
import H3 from '@components/mdx/H3.astro';

const { Content } = await entry.render();
---
<MainLayout title={`Maciej Witek — ${entry.data.title}`} description={`Podstrona ${entry.data.title}`}>
  <div style="margin-top: 4rem;">
    <section class="space-y-6">
      <article class="prose dark:prose-invert max-w-none">
        <Content components={{ h1: H1, h2: H2, h3: H3 }} />
      </article>
    </section>
  </div>
</MainLayout>
