---
import { getCollection } from 'astro:content';
import path from 'path-browserify';
import { Icon } from 'astro-icon/components';

const projects = await getCollection('projects');
const baseUrl = import.meta.env.BASE_URL;

const currentProjects = projects.filter(p => p.data.status === 'current');
const pastProjects = projects.filter(p => p.data.status === 'past');
---

<h2 class="text-2xl font-bold mt-8 mb-4 flex items-center gap-2">
  <Icon name="mdi:progress-clock" size={28} />
  <span>Current Projects</span>
</h2>
<div class="list-container">
  <ul class="project-list">
    {currentProjects.map((project) => (
      <li class="project-item">
        <a href={path.join(baseUrl, 'projects', project.slug)} class="project-link">
          <div class="project-link-content">
            <span class="project-title-in-list">{project.data.title}</span>
            <span class="project-description">{project.data.description}</span>
          </div>
          <Icon name="mdi:arrow-right" class="list-arrow-icon" />
        </a>
      </li>
    ))}
  </ul>
</div>

<h2 class="text-2xl font-bold mt-8 mb-4 flex items-center gap-2">
  <Icon name="mdi:check-circle-outline" size={28} />
  <span>Past Projects</span>
</h2>
<div class="list-container">
  <ul class="project-list">
    {pastProjects.map((project) => (
      <li class="project-item">
        <a href={path.join(baseUrl, 'projects', project.slug)} class="project-link">
          <div class="project-link-content">
            <span class="project-title-in-list">{project.data.title}</span>
            <span class="project-description">{project.data.description}</span>
          </div>
          <Icon name="mdi:arrow-right" class="list-arrow-icon" />
        </a>
      </li>
    ))}
  </ul>
</div>
